.header{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px;
}
.paleta{
    grid-column: 1;
    grid-row: 1;
}
.title{
    grid-column: 2;
    grid-row: 1;
    font-family: 'Georgia';
    font-size: 21px;
}
