.header{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px;
    
}
.paleta{
    grid-column: 1;
    grid-row: 1;
}
.paleta_img{
    height:60px;
    width: 80px;
}
.title{
    grid-column: 2;
    grid-row: 1;
    font-family: 'Georgia';
    font-size: 21px;
}
.row3{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.row2{
    height:300px;
    width: 100%;
    border-radius: 10px;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    letter-spacing: 2px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    letter-spacing: 2px;
}