@font-face {font-family: CR;src: url("/Pag_detalle/Cardo-Regular.ttf");}
@font-face {font-family: CB;src: url("/Pag_detalle/Cardo-Bold.ttf");}

body {
    background-color: #FFFAFA !important;
}

.subtitle{
    font-family: CR;
    font-size:25px;
    text-align:center;
}

.texto{
    font-family: CR;
    font-size:18px;
    text-align:center
}

.title2 {
    font-family: CB;
    font-size:28px;
    text-align:center;
}

.rows{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    letter-spacing: 2px;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    letter-spacing: 2px;
}

.fondo{
    height: auto;
    max-height: 70%; 
    width: auto;
    max-width: 75%; 
    opacity: 1;
    float: left;
    margin-left: 80px;
}